@use '../config/_color.scss' as c;

.contact {
  max-width: 900px;
  margin: 2rem auto;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 24px rgba(30,41,59,0.08);
  padding: 2rem;
  color: c.$gray-dark;
}
