@use '../config/_color.scss' as c;

.dropdown-link {
  display: block;
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  color: red;
  background: none;
  border: none;
  text-align: left;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  &:hover, &:focus {
    background: c.$gray-light;
    color: c.$secondary;
  }
}
