@use '../config/color' as c;
@use '../mixins/breakpoints' as b;

.top-banner{
  background-color: c.$primary;
  color: c.$gray-dark;
  width: 100%;
  height: 44px;
  display: flex;
  padding-left: 2.75rem;
  padding-right: .75rem;
  font-size: c.$font-size-sm; 
  font-family: c.$font-main;
  font-weight: 400;
  line-height: .75rem;  
  align-items: center;
  justify-content:space-between; 
  box-sizing: border-box;
  box-shadow: c.$box-shadow;
  z-index: 1000;
  
  &__link{
    color: c.$gray-dark;
    text-decoration: none;
    font-size: c.$font-size-sm; 
    font-family: c.$font-main;
    font-weight: 400;
    line-height: .75rem;  
  }

  &__container--left,
  &__container--right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

    &__icon {
      width: 12px;
    height: 12px;
    padding: 9px;
    background-color: c.$white;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
     }

    &__icon:hover {
      fill: c.$primary;
    }
    &__icon--l{
      background-color: transparent;
    }
     &__icon--l:hover {
      fill: c.$gray-dark;
    }


  //}

  @include b.respond-max('md') {
    display: none;
  }
  @include b.respond-max('lg') {
    &__container--left {
      display: none;
    }
    & {
      justify-content: space-around;
    }
  }
}