/* f:/xamxampp/htdocs/laravel/ecomer-web/resources/sass/components/whassap-button.scss */
.whatsapp-float {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 9999; /* Asegura que esté por encima de todo */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #25d366; /* Color de WhatsApp */
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow .2s, right 0.3s cubic-bezier(.4,0,.2,1); /* Transición para el efecto de aparición/desaparición si se añade JS */
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
}

.whatsapp-float:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); /* Sombra más pronunciada al pasar el ratón */
}

.whatsapp-float svg {
    fill: white;
}