@use '../config/color' as c;
@use '../mixins/breakpoints' as p;

.header {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;

//    @include p.respond-max('md') {
//     grid-column: 2 / 3;
//     grid-row: 1 / 2;
//     background-color: c.$gray-light;
   
// }
 
}
